// @use '/app/css/variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  min-height: 50px;
  // box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 20%);

  background-color: var(--surfaceContainer);
  color: var(--onSurface);
}
