@use '/app/css/variables' as *;
@use '/app/css/breakpoints' as *;

.postHero {
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  cursor: pointer;

  height: 350px;
  @media screen and (max-width: $bp-mobile) {
    height: 250px;
  }
}

.postTitle {
  cursor: pointer;
  // color: $primary;
  color: var(--primary);
  margin-top: 1rem;
  margin-bottom: 0;
}

.excerpt {
  p {
    max-width: unset;
  }
}
