@use '/app/css/variables' as *;
@use '/app/css/breakpoints' as *;
@use '/app/css/utils' as *;

.postHero :global {
  width: 100%;

  .imgContainer {
    position: relative;
    width: 100%;
    cursor: pointer;

    height: 350px;
    @media screen and (max-width: $bp-mobile) {
      height: 250px;
      @include center-full-width;
    }
  }

  .titleContainer {
    margin-top: 1rem;
    margin-bottom: 0;

    .title {
      color: var(--primary);
      display: inline;
      cursor: pointer;
      margin-right: 10px;
    }

    .postDetails {
      display: inline-flex;
      align-items: center;
      gap: 6px;

      width: fit-content;

      .postDate {
        width: fit-content;
        white-space: nowrap;
      }

      .post-tags {
        display: flex;
        gap: 5px;
        width: fit-content;
      }
    }
  }

  .excerpt {
    p {
      max-width: unset;
    }
  }
}
