@use '/app/css/utils' as *;

.footer :global {
  position: sticky;
  bottom: 0;

  @include flex-center;
  gap: 20px;

  min-height: 170px;
  width: 100%;
  margin-top: 60px;

  .br-corner {
    @include flex-center;
    a {
      color: var(--onSecondary);
    }
  }
}
