@use '/app/css/utils' as *;
@use '/app/css/variables' as *;
@use '/app/css/typescales';

.footer :global {
  position: sticky;
  bottom: 0;

  @include flex-center;
  gap: 20px;

  min-height: 180px;
  width: 100%;
  margin-top: 60px;
  // padding: 10px;

  .br-corner {
    @include flex-center;

    // position: absolute;
    // bottom: 10px;
    // right: 10px;

    a {
      // color: $outlineVariant;
      @include typescales.label-medium;
      font-weight: 500;
    }
  }
}
