.footer :global {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: sticky;
  bottom: 0;

  min-height: 100px;
  width: 100%;
  margin-top: 100px;

  .br-corner {
    display: flex;

    position: absolute;
    bottom: 0;
    right: 0;
  }
}
