// Spacing
$body-margin-mobile: 10px;
$body-margin-tablet: 15px;
$body-margin-desktop: 30px;

// Borders
$border-radius: 10px;

// Typography
$body-font-size: 1rem;
$scale-ratio: 1.125;

$line-height-titles: 1.2;
$line-height-body: 1.5;

$font-weight-regular: 400;
$font-weight-medium: 500;
