@use '/app/css/breakpoints' as *;
@use '/app/css/variables' as *;

.body :global {
  main {
    @media screen and (max-width: $bp-mobile) {
      margin: $body-margin-mobile;
    }
    @media screen and (max-width: $bp-tablet) {
      margin: $body-margin-tablet;
    }
    margin: $body-margin-desktop;
  }

  .fabContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;

    z-index: 1000;
    pointer-events: none;
  }
}
