.articlePage :global {
  width: 100%;

  .image {
    height: 350px;
    object-fit: cover;
  }

  .title {
    width: 100%;
    margin-top: 1rem;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 65ch;
    margin: auto;
  }
}
