.postPreview :global {
  .img-container {
    position: relative;
    width: 100%;
    height: 190px;
    cursor: pointer;
  }

  .titleContainer {
    margin-top: 1rem;
    margin-bottom: 0;

    .title {
      display: inline;
      cursor: pointer;
      margin-right: 10px;
    }

    .postDetails {
      display: inline-flex;
      align-items: center;
      gap: 6px;

      width: fit-content;

      .postDate {
        width: fit-content;
        white-space: nowrap;
      }

      .post-tags {
        display: flex;
        gap: 5px;
        width: fit-content;
      }
    }
  }
}
